.w3l-cover-3 .top-bottom{
    background-image: url('/assets/images/New-Images/others/landing-page-bg.jpg');
}

.w3l-left-img{
    background-image: url('/assets/images/New-Images/others/person.jpg');
}

.fa-star{
    color: #FF860D;
}
